.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  width: 100%;
  /* Match MUI AppBar height exactly: 56px mobile, 64px desktop */
  padding-top: 56px;
}

@media (min-width: 600px) {
  .main-content {
    padding-top: 64px;
  }
}
